.convert-chart-box {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .convert-chart-content {
    margin: 20px;

    .header {
      text-align: center;

      .title {
        display: inline-block;
        color: $primary_color;
        padding: 4px 10px;
        cursor: pointer;
      }
    }
  }

  .content {
    margin: 50px 20px;
  }
}